<div class="card shadow-sm">
    <a href="{{sub_url}}">
        {{#thumbnail}}<img class="bd-placeholder-img card-img-top" style="object-fit: scale-down; max-height: 300px; background-color:#55595c;" width="100%" src="{{thumbnail}}" alt="Thumbnail">{{/thumbnail}}
        {{^thumbnail}}<svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">No Thumbnail Given</text></svg>{{/thumbnail}}
    </a>
    <h5 class="card-header">{{name}}</h5>
    <div class="card-body">
        <p class="card-text">{{summary}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group w-100">
                <a href="{{sub_url}}" class="btn btn-sm btn-outline-secondary">Read More</a>
                {{#repo}}<a href="{{repo}}"  class="btn btn-sm btn-github">GitHub {{>github-svg}}</a>{{/repo}}
            </div>
        </div>
    </div>
</div>